package domain

// Define your domain entities, value objects, and domain errors here.
//
// Example:
//
//	type Book struct {
//	    ID     BookID
//	    Title  string
//	    Author string
//	}
//
//	type BookID string
//
//	func NewBook(title, author string) (*Book, error) {
//	    if title == "" {
//	        return nil, errors.New("title is required")
//	    }
//	    return &Book{Title: title, Author: author}, nil
//	}
